{% load bootstrap3 i18n static %}
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'ajax_select/js/ajax_select.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ajax_select/css/ajax_select.css'%}" />
  </head>
  <body>
<h3>{% trans "Create activity" %}</h3>
    <form action="" class="form" method="post" enctype="multipart/form-data">{% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      {% endbuttons %}
    </form>
  </body>
</html>
